# Exploring  Maximum Retail Price (MRP) of the product with Discount percentage given by different brands

## Reaserch question:

### 1. What is the right price to charge?
Pricing a product or service is one of the most important aspects of your business. Pricing right can decide the revenue, brand perception, profitability and adoption of the product or service.

### 2. What should the brand branch out into to avoid stagnation or imitation?
While launching a product or service, it’s essential to understand where your competitors stand on the same product type or service line. How soon can they catch up to you and imitate your service or product?

## Part A: Fetching Data

In [1]:
# Import packages
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.edge.service import Service
from selenium.webdriver.common.by import By
import pandas as pd
import time
import os

## Fetching Mens T-shirt data from Myntra Website
### Note: It takes around 2hrs to scrape 1320 pages. You can change the number of pages in For loop range function.

In [ ]:
# Create an 'instance' of the driver.
# This path should be to wherever you downloaded the driver.
# A new Edge (or other browser) window should open up.

service = Service("C:\Program Files (x86)\msedgedriver.exe")
driver = webdriver.Edge(service=service)

# Create lists to store the data from scraping and use it to create a Dataframe.
brand_name = [] # Here I'll append the Brand names as given in the website
summary = []
size = []
price = []

# Run the loop to retrieve data and store data as DataFrame
for page in range(1,1321): # <-- You can change Start and End page number to scrape. For example: To scrape first 2 pages,
                                 #replace range(1,1321) to range(1,3)
    driver.get('https://www.myntra.com/men-tshirts?p='+str(page))
    driver.maximize_window()

    product_brands = driver.find_elements(By.CLASS_NAME, "product-brand")
    product_summaries = driver.find_elements(By.CLASS_NAME, "product-product")
    product_sizes = driver.find_elements(By.CLASS_NAME, "product-sizes")
    product_prices = driver.find_elements(By.CLASS_NAME, "product-price")
    product_stars = driver.find_elements(By.CLASS_NAME, "product-ratingsContainer")
    for i in range(len(product_brands)):
        brand_name.append(product_brands[i].text)
        summary.append(product_summaries[i].text)
        size.append(product_sizes[i].get_attribute('innerText')[7:])
        price.append(product_prices[i].text)
             
    print(f'page no:{str(page)} completed' )

# Making a Dataframe with Brand name, Product, Size, Price as keys and corresponding lists as values        
Myntra = pd.DataFrame({'Brand_name':brand_name, 'Product': summary, 'Size': size, 'Price': price}) 

driver.quit()

### Creating a csv file containing Branded T-shirt data

In [5]:
Myntra.to_csv("F:\Myntra.csv")

### Checking the Dataframe 'Myntra' containing T-shirt data
### The output of this code is Myntra.csv, contains total of 65900 products retrived.

In [4]:
Myntra

,Brand_name,Product,Size,Price
0,HRX by Hrithik Roshan,Printed Cotton Pure Cotton T-shirt,"S, M, L, XL, XXL",Rs. 349Rs. 699(50% OFF)
1,Huetrap,Typography Print T-shirt,"S, M, L, XL, XXL",Rs. 395Rs. 1099(64% OFF)
2,Moda Rapido,Printed Cotton Pure Cotton T-shirt,"S, M, L, XL, XXL",Rs. 314Rs. 899(65% OFF)
3,HRX by Hrithik Roshan,Typography Cotton T-shirt,"S, M, L, XL, XXL",Rs. 349Rs. 699(50% OFF)
4,H&M,Men Solid Regular Fit T-shirt,"3XS, XS, M, L, XXL, 3XL",Rs. 399
...,...,...,...,...
65895,Ed Hardy,Printed Polo Pure Cotton T-shirt,"S, M, L, XL, XXL",Rs. 999Rs. 1999(50% OFF)
65896,U.S. Polo Assn.,Tshirts,"S, M, L, XL, XXL",Rs. 849Rs. 1699(50% OFF)
65897,ColorPlus,Striped Polo Collar T-shirt,"XS, S, M, L, XL",Rs. 2299
65898,Pepe Jeans,Printed Polo Collar Pure Cotton T-shirt,"S, M, L, XL, XXL",Rs. 679Rs. 1699(60% OFF)
65899,U.S. Polo Assn.,Men Brand Logo Polo Collar T-shirt,"3XL, 4XL, 5XL",Rs. 1899